label {
    font-weight: 500;
}

.title {
    width: 100%;
    /* font-weight: bold; */
    font-size: 16pt;
    text-align:left;
}

.text-field {
    
   
    border:none;
    padding:5px;
    border-radius: 5px;;
    width:90%;
    margin:5px;
   
}

.right-align {
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.card-form{
    margin: 5px
}

.right-align .close {
    font-size: 20px;
    border-radius: 20px;
    background-size: 40px;
    text-align: right;
    font-weight: bold;
    padding:0 7px ;
    text-align: center;
    
    vertical-align: middle;
}
.right-align .button2{
    width:60px;
    padding:2px 5px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(73, 130, 238);
    color: #ffffff;
    transform: translateY(4px);
}
.right-align .button2:hover{
    background-color: rgb(73, 130, 238);
    color: #ffffff;
    transform: translateY(4px);
}
.write-card {
    padding: 10px !important;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin: 20px !important;
    background-color: rgb(233, 232, 232);
}